.layout {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    background-color: #ff00d9;
    font-family: monospace;
    font-size: 20px;
    position: relative;

    &__logo {
        font-size: 22px;
    }

    &__menu {
        ul {
            display: flex;

            li {
                list-style: none;
                text-transform: uppercase;
                padding: 5px 10px;

                a {
                    text-decoration: none;
                    margin: 20px;
                    color: white;
                    font-weight: bold;
                }

                .active {
                    color: blue;
                    font-family: monospace;
                }
            }
        }

        ul li:hover .sub__menu {
            display: block !important;
        }
    }

    &__main {
        width: 80%;
        padding: 20px;
        margin: auto;
    }

    &__footer {
        background-color: #ff00d9;
        padding: 20px;
        width: 80%;
        margin: auto;
    }
}

.sub__menu {
    position: absolute;
    top: 70px;
    background-color: #00bbff;
    padding-left: 0;
    display: none !important;
    
    li a {
        white-space: nowrap;
    }
}