.product--list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 100px;
}

.product--item {
    width: 30%;
    margin-right: 2%;
}

.product--img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

ul li {
    padding: 10px;
    margin: 10px 5px;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 20%;
}
